<!DOCTYPE html>
<html>
<head>
    <title>Monster Slayer</title>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
<div id="app">
    <section class="row">
        <div class="small-6 columns">
            <h1 class="text-center">YOU</h1>
            <div class="healthbar">
                <div class="healthbar text-center" style="background-color: green; margin: 0; color: white;" :style="{width: heroLife + '%'}">
                  {{heroLife}}
                </div>
            </div>
        </div>
        <div class="small-6 columns">
            <h1 class="text-center">MONSTER</h1>
            <div class="healthbar">
                <div class="healthbar text-center" style="background-color: green; margin: 0; color: white;" :style="{width: monsterLife + '%'}">
                  {{monsterLife}}
                </div>
            </div>
        </div>
    </section>
    <section class="row controls" v-if="!showNewGame">
        <div class="small-12 columns">
            <button id="start-game" @click="showNewGame = true">START NEW GAME</button>
        </div>
    </section>
    <section class="row controls" v-else>
        <div class="small-12 columns">
            <button id="attack" @click="executeRound('normalAttack')">ATTACK</button>
            <button id="special-attack" @click="executeRound('specialAttack')">SPECIAL ATTACK</button>
            <button id="heal" @click="executeRound('heal')">HEAL</button>
            <button id="give-up" @click="resetGame"> GIVE UP </button>
        </div>
    </section>
    <section class="row log" v-if="showLogs">
        <div class="small-12 columns">
            <ul>
              <li v-for="(log, index) in logs">
                <template v-if="index % 2 == 0">
                  <p class="player-turn"> {{ log }}</p>
                </template>
                <template v-else>
                  <p class="monster-turn"> {{ log }}</p>
                </template>
              </li>
            </ul>
        </div>
    </section>
</div>
</body>
<script src="app.js"></script>
</html>
